<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="VehicleComparer" connectionString="Data Source=vehiclecomparer.database.windows.net;
         Initial Catalog=VehicleComparer; User=KerstenCalvin; Password=PieterHolly2005!"/>
	</connectionStrings>
</configuration>